<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>URL SHORTENER</h1>
    <form action="/shortUrl" method="post" class="my-4 form-inline">
        <div class="input-group">
        <label for="fullUrl" class="visually-hidden" >Url</label>
        <input required type="url" id="fullUrl" name="fullUrl" placeholder="url" class="form-control me-2">
        <button class="btn btn-success" type="submit">Shrink</button>
        </div>
    </form>
    
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>FULL URL</th>
                <th>SHORT URL</th>
                <th>CLICKS</th>
            </tr>
        </thead>
        <tbody>
            <% allUrls.forEach(url => { %>
                <tr>
                    <td><a href="<%= url.full %>"><%= url.full %></a></td>
                    <td><a href="<%= url.short %>"><%= url.short %></a></td>
                    <td><%= url.clicks %></td>
                </tr>

           <% }) %>
            
        </tbody>
    </table>
</div>
</body>
</html>